.inputting {
    background-color: #ff9;
}

div.main {
    margin: 2%;
}

.main p {
    font-size: 5vw;
}

div.footer {
    position: fixed;
    text-align: right;
    width: 100%;
    bottom: 0px;
}

table {
    position: fixed;
    width: 48%;
    right: 20%;
    bottom: 10%;
}

td {
    width: 12%;
    position: relative;
}

td.b-left {
    border-left-style: solid;
    border-left-width: 4px;
}

td.b-top {
    border-top-style: solid;
    border-top-width: 4px;
}

td.slashed {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJ3aWR0aDoxMDAlO2hlaWdodDoxMDAlOyI+PGxpbmUgeDE9IjEwMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSIgc3R5bGU9InN0cm9rZTogcmdiYSgwLCAwLCAwLCAwLjE3KTtzdHJva2Utd2lkdGg6IDE7Ij48L2xpbmU+PC9zdmc+');
}

td.bslashed {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJ3aWR0aDoxMDAlO2hlaWdodDoxMDAlOyI+PGxpbmUgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSIgc3R5bGU9InN0cm9rZTogcmdiYSgwLCAwLCAwLCAwLjE3KTtzdHJva2Utd2lkdGg6IDE7Ij48L2xpbmU+PC9zdmc+');
}

td::after {
    content: '';
    display: block;
    margin-top: 100%;
}

td .content {
    position: absolute;
    inset: 0;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

td .content.mini {
    font-size: 4vw;
}
